<!DOCTYPE html>
<html>
	<head>
		<title>Info Page</title>
	</head>
	<body>
		<h1>Info Page</h1>
		<p>This is the info page: here's some information about me! I am quite hungry at the moment and can not wait to eat lunch.</p>
	</body>
</html>